<footer class="footer">
  <div class="container">
    <small>&copy Copyright <a href="http://www.lisewnoble.com" targe-"_blank">Created by Lise W. Noble</a></small>
    <h4>Menu</h4>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </div>
</footer>